@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* global styles */
.bell-fonts {
  font-family: 'La Belle Aurore',cursive;
}

body {
  color: #191919;
  font-family: 'Opens Sans',"sans-serif";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0.85))), url("../image/bodyBcg.jpeg") center/cover no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.85)), url("../image/bodyBcg.jpeg") center/cover no-repeat;
}

/* header */
.header {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80%;
      grid-template-columns: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header {
    background: url("../image/headerBcg.jpg") center/cover no-repeat fixed;
  }
}

.header__banner {
  text-align: center;
  z-index: 3;
}

.header__banner__title {
  font-size: 4rem;
  text-transform: capitalize;
  color: #FF614C;
}

@media screen and (min-width: 768px) {
  .header__banner__title {
    font-size: 9rem;
  }
}

.header__banner__icons {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2rem)[4];
      grid-template-columns: repeat(4, 2rem);
  grid-gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__banner__icons__social-icon {
  display: block;
  text-decoration: none;
  color: #191919;
  border: 0.1rem solid #191919;
  border-radius: 50%;
  padding: 0.25rem;
  -webkit-transition: all  0.5s linear;
  transition: all  0.5s linear;
}

.header__banner__icons__social-icon:hover {
  background: #FF614C;
  color: #191919;
}

.header__banner__video-container {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
