@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* global styles */
.bell-fonts {
  font-family: 'La Belle Aurore',cursive;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes links {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes links {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

body {
  color: #191919;
  font-family: 'Opens Sans',"sans-serif";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0.85))), url("../image/bodyBcg.jpeg") center/cover no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.85)), url("../image/bodyBcg.jpeg") center/cover no-repeat;
}

/*preloader style*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FF614C;
  z-index: 999;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* End preloader style*/
/* header */
.header {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80%;
      grid-template-columns: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header {
    background: url("../image/headerBcg.jpg") center/cover no-repeat fixed;
  }
}

.header__banner {
  text-align: center;
  z-index: 3;
}

.header__banner__title {
  font-size: 5rem;
  text-transform: capitalize;
  color: #FF614C;
}

@media screen and (min-width: 768px) {
  .header__banner__title {
    font-size: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .header__banner__title {
    color: white;
  }
}

.header__banner__icons {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2rem)[4];
      grid-template-columns: repeat(4, 2rem);
  grid-gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__banner__icons__social-icon {
  display: block;
  text-decoration: none;
  color: #191919;
  border: 0.1rem solid #191919;
  border-radius: 50%;
  padding: 0.25rem;
  -webkit-transition: all  0.5s linear;
  transition: all  0.5s linear;
}

.header__banner__icons__social-icon:hover {
  background: #FF614C;
  color: #191919;
}

.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header__video__item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__navBtn {
  position: fixed;
  top: 5%;
  right: 5%;
  font-size: 3.5rem;
  color: #FF614C;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #ff8e7f;
  width: 0;
  overflow: hidden;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.header__nav__links {
  list-style-type: none;
}

.header__nav__links__single-link {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: #382923;
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.header__nav__links__single-link:hover {
  background: #382923;
  color: #ff8e7f;
  padding-left: 1.5rem;
}

.header__nav__links .nav__logo img {
  width: 200px;
  height: 100px;
  margin-left: -4rem;
}

.header__nav__links .nav__logo:hover {
  background: #A9B2AC;
}

.header__switch-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__switch-container {
    display: block;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 5;
  }
  .header__switch-container__video__switch {
    position: relative;
    width: 5rem;
    background: #D15747;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 0.5rem;
    padding: .2rem .2rem;
    cursor: pointer;
  }
  .header__switch-container__video__switch-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: #382923;
    border-radius: 0.5rem;
  }
}

.header .nav__show {
  width: 10rem;
}

.header .btnSlide {
  left: 50%;
}

.about__img-item {
  width: 100%;
  display: block;
  border-radius: 0.25rem;
}

.section-padding {
  padding: 3rem 0;
}

.grid-container {
  max-width: 90vh;
  margin: 2rem auto;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .grid-container {
    max-width: 75vw;
  }
}

@media screen and (min-width: 768px) {
  .grid-container--medium-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.section-title {
  padding: 1rem 0.5rem;
}

.section-title__name {
  font-size: 3rem;
  text-transform: capitalize;
}

.section-title__underline {
  background: #D15747;
  width: 5rem;
  height: 0.25rem;
}

.section-title__text {
  letter-spacing: 0.1rem;
  line-height: 1.5;
  margin-top: 1rem;
  color: #A9B2AC;
}

.about--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  grid-gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 768px) {
  .about--container {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .about--container .about__image--special {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.drink {
  background: #382923;
  color: #FF614C;
  text-transform: capitalize;
}

.drink-form, .drink-card {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70%;
      grid-template-columns: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 1.25rem;
}

.drink-form__feedback {
  border: 0.1rem solid #FF614C;
  padding: 0.25rem;
  display: none;
}

.error {
  display: block;
  color: red;
  border-color: red;
}

.success {
  display: block;
  display: green;
  border-color: green;
}

.drink-form__title, .drink-card__title {
  font-size: 3rem;
}

.input-name, .input-lastname, .input-email {
  width: 100%;
}

.input-name, .input-lastname, .input-email, .input-submit {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  background: rgba(111, 87, 77, 0.6);
  border: none;
  outline: none;
}

.input-name::-webkit-input-placeholder, .input-lastname::-webkit-input-placeholder, .input-email::-webkit-input-placeholder {
  color: #ff8e7f;
  text-transform: capitalize;
}

.input-name:-ms-input-placeholder, .input-lastname:-ms-input-placeholder, .input-email:-ms-input-placeholder {
  color: #ff8e7f;
  text-transform: capitalize;
}

.input-name::-ms-input-placeholder, .input-lastname::-ms-input-placeholder, .input-email::-ms-input-placeholder {
  color: #ff8e7f;
  text-transform: capitalize;
}

.input-name::placeholder, .input-lastname::placeholder, .input-email::placeholder {
  color: #ff8e7f;
  text-transform: capitalize;
}

.input-submit {
  background: #D15747;
  color: #191919;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
  text-transform: uppercase;
}

.input-submit:hover {
  opacity: 0.6;
}

.drink-card__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .drink-card__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

.person {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 1fr;
      grid-template-columns: auto auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  grid-gap: 1rem;
  border: 0.1rem solid rgba(111, 87, 77, 0.6);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.person__thumbnail {
  border-radius: 50%;
}
