@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans');

 $Orange:#D15747;
 $darkBrown:#BB9457;
 $brightOrange:#FF614C; 
 $brown:#382923;
 $black:#191919;
 $grey:#A9B2AC;

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* global styles */
.bell-fonts{
  font-family: 'La Belle Aurore',cursive;
}
// media query setup
@mixin smallquery($arg){
  @media screen and (max-width:$arg){
    @content;
  }
}
@mixin bigquery($arg){
  @media screen and (min-width:$arg){
    @content;
  }
}
// End of global styles 

body{
  color: $black;
  font-family: 'Opens Sans',"sans-serif";
  background: linear-gradient(rgba(255,255,255,0.25),rgba(255,255,255,0.85)), url('../image/bodyBcg.jpeg')center/cover no-repeat;
}
/* header */
.header{
  height: 100vh;
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
  @include smallquery(768px){
    background: url('../image/headerBcg.jpg')center/cover no-repeat fixed;
  }

  &__banner{
    text-align: center;
    z-index: 3;
  &__title{
    font-size: 4rem;
    text-transform: capitalize;
    color: $brightOrange;
    @include bigquery(768px){
      font-size: 9rem;
    }
  }
  &__icons{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns:repeat(4,2rem) ;
    grid-gap: 0.5rem;
    justify-content: center;
    
    &__social-icon{
      display:block;
      text-decoration: none;
      color: $black;
      border: 0.1rem solid $black;
      border-radius: 50%;
      padding: 0.25rem;
      transition: all  0.5s linear ;
      // color: white;
      &:hover{
        background: $brightOrange;
        color: $black;
      }
  }
  
  }
  
 &__video-container{
   display: block;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
 }
}

}


